<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Basic example</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Place one add-on or button on either side of an input. You may also place one on both
          sides of an input. Remember to place <code>&lt;label&gt;</code>s outside the
          input group.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Wrapping</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Input groups wrap by default via <code>flex-wrap: wrap</code> in order to accommodate
          custom form field validation within an input group. You may disable this with
          <code>.flex-nowrap</code>.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add the relative form sizing classes to the <code>&lt;c-input-group&gt;</code> itself
          and contents within will automatically resize—no need for repeating the form control
          size classes on each element.
        </p>
        <p class="text-body-secondary small">
          <strong>Sizing on the individual input group elements isn&#39;t supported.</strong>
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Checkboxes and radios</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Place any checkbox or radio option within an input group&#39;s addon instead of text.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Multiple inputs</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          While multiple <code>&lt;CFormInput&gt;</code>s are supported visually, validation
          styles are only available for input groups with a single
          <code>cFormControl</code>.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Multiple addons</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Multiple add-ons are supported and can be mixed with checkbox and radio input
          versions..
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Button addons</small>
      </c-card-header>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Buttons with dropdowns</small>
      </c-card-header>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Segmented buttons</small>
      </c-card-header>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Custom select</small>
      </c-card-header>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Input group</strong> <small>Custom file input</small>
      </c-card-header>
    </c-card>
  </c-col>
</c-row>
